@import "tailwindcss";

:root {
    /* --background: #fcf5d9;
	--foreground: #2b2b2b; */
    --light-yellow: #fcf5d9;
    --ochre: #feae02;
    --orange: #f17648;
    --brown: #891e08;
    --dark-gray: #2b2b2b;
}

@theme inline {
    /* --color-background: var(--background);
	--color-foreground: var(--foreground); */
    --color-light-yellow: var(--light-yellow);
    --color-ochre: var(--ochre);
    --color-orange: var(--orange);
    --color-brown: var(--brown);
    --color-dark-gray: var(--dark-gray);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-vt323: var(--font-vt323);
    --flicker-gradient:
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	--mask-top-and-bottom: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);

    --breakpoint-smx: 580px;

    --animate-pointer-cycle: pointer-cycle 1.5s ease-in-out infinite alternate;

    @keyframes pointer-cycle {
        from {
            transform: rotate(0deg) scale(1);
        }

        to {
            transform: rotate(2deg) scale(1.02);
        }
    }
}

@utility box-shadow {
    --shadow-anchor: inset 0 8px 12px -8px rgba(255,255,255,0.8),
    0 -4px 16px rgba(0,0,0,0.9);
    box-shadow: var(--shadow-anchor);
}

@layer utilities {
    .clip-monitor {
        clip-path: polygon(
                    49px 18px,
                    20% 17.5px,
                    30% 17px,
                    40% 16.5px,
                    50% 16px,
                    60% 16px,
                    70% 16px,
                    80% 16.5px,
                    calc(100% - 48px) 17px,
                    calc(100% - 46px) 25%,
                    calc(100% - 44px) 50%,
                    calc(100% - 43px) 60%,
                    calc(100% - 43px) calc(100% - 14px),
                    80% calc(100% - 13px),
                    70% calc(100% - 12px),
                    60% calc(100% - 11px),
                    50% calc(100% - 11px),
                    40% calc(100% - 11px),
                    30% calc(100% - 11.5px),
                    20% calc(100% - 12.5px),
                    43px calc(100% - 13px),
                    43px 75%,
                    44px 50%,
                    47px 20%
            );
    }

    @media (min-width: 768px) {
        .clip-monitor {
            clip-path: polygon(28px 18px,
                    10% 17px,
                    20% 16px,
                    30% 15px,
                    40% 14px,
                    50% 14px,
                    60% 14px,
                    65% 14.3px,
                    70% 14.7px,
                    80% 15px,
                    90% 15.8px,
                    calc(100% - 18px) 17px,
                    calc(100% - 14px) 25%,
                    calc(100% - 12px) 50%,
                    calc(100% - 12px) 60%,
                    calc(100% - 10px) calc(100% - 15px),
                    90% calc(100% - 14px),
                    80% calc(100% - 13px),
                    70% calc(100% - 12.6px),
                    60% calc(100% - 12.3px),
                    50% calc(100% - 12.3px),
                    40% calc(100% - 12.6px),
                    30% calc(100% - 13px),
                    20% calc(100% - 13px),
                    10% calc(100% - 14px),
                    20px calc(100% - 15px),
                    20px 75%,
                    21.6px 50%,
                    24px 25%);
        }
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #2b2b2b;
        --foreground: #fcf5d9;
    }
}

body {
    color: var(--foreground);
    font-family: "VT323", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}


@keyframes crtFlicker {

    0%,
    100% {
        opacity: 0.97;
    }

    10% {
        opacity: 0.94;
    }

    20% {
        opacity: 0.94;
    }

    30% {
        opacity: 0.96;
    }

    50% {
        opacity: 0.95;
    }

    70% {
        opacity: 0.95;
    }
}

.scanlines {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0.2) 50%,
            rgba(0, 0, 0, 0.2));
    background-size: 100% 4px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;

    animation: scanlineFlicker 0.15s infinite;
    opacity: 0.6;
}

@keyframes scanlineFlicker {
    0% {
        opacity: 0.6;
    }

    5% {
        opacity: 0.55;
    }

    10% {
        opacity: 0.5;
    }

    15% {
        opacity: 0.6;
    }

    20% {
        opacity: 0.65;
    }

    25% {
        opacity: 0.55;
    }

    30% {
        opacity: 0.6;
    }

    35% {
        opacity: 0.5;
    }

    40% {
        opacity: 0.65;
    }

    45% {
        opacity: 0.55;
    }

    50% {
        opacity: 0.6;
    }

    55% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.65;
    }

    65% {
        opacity: 0.55;
    }

    70% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.55;
    }

    80% {
        opacity: 0.5;
    }

    85% {
        opacity: 0.65;
    }

    90% {
        opacity: 0.55;
    }

    95% {
        opacity: 0.65;
    }

    100% {
        opacity: 0.6;
    }
}